@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: hsl(215, 51%, 70%);
  --clr-secondary: hsl(178, 100%, 50%);
  --clr-main: hsl(217, 54%, 11%);
  --clr-card: hsl(216, 50%, 16%);
  --clr-line: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--clr-main);
  display: grid;
  place-items: center;
}

h2,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

.card {
  background: var(--clr-card);
  color: var(--clr-primary);
  padding: 1.25em;
  border-radius: 1em;
  width: 20.5em;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .card-img {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0;

    &__img {
      display: block;
      border-radius: 1em;
    }

    &__overlay {
      background: hsla(178, 100%, 50%, 0.5);
      opacity: 0;
      border-radius: 1em;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      .card-img__overlay {
        opacity: 1;
      }
    }
  }

  .card-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .card-title {
      color: var(--clr-white);
      cursor: pointer;

      &:hover {
        color: var(--clr-secondary);
      }
    }

    .card-desc {
      font-weight: 300;
    }

    .card-stats {
      display: flex;
      justify-content: space-between;

      .stats {
        display: flex;
        gap: 0.5em;
        align-items: center;

        &__icon {
          //   width: 1em;
        }

        &__cost {
          color: var(--clr-secondary);
        }
      }
    }
  }

  .card-author {
    display: flex;
    border-top: solid 1px var(--clr-line);
    padding-top: 1rem;
    align-items: center;

    span {
      color: var(--clr-white);
      cursor: pointer;

      &:hover {
        color: var(--clr-secondary);
      }
    }

    &__avatar {
      width: 2em;
      height: 2em;
      border: solid 1px var(--clr-white);
      border-radius: 50%;
      margin-right: 1rem;
    }

    &__creator {
      font-size: 1rem;
      font-weight: 300;
    }
  }
}
